.versionLanguageStyle0 {
  grid-column: 1/2;
  grid-row: 1/2;  
  text-align: right;
  color: red;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  grid-auto-flow: row;
  margin: auto;
  grid-gap: 10px;
  vertical-align: middle;
}

.versionLanguageStyle1 {
  grid-column: 2/3;
  grid-row: 1/2;  
  text-align: left;
  color: blue;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  grid-auto-flow: row;  
  grid-gap: 10px; 
}

.versionItemsHeader0{
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  background-color: yellow; 
}

.versionItemsHeader1{
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center; 
  background-color: yellowgreen;  
}

.versionItemsBlock0{
  grid-column: 1/2;
  grid-row: 2/3;  
  color: lightgreen;
  background-color: cyan;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-flow: row;  
  grid-gap: 10px; 
}

.versionItemsBlock1{
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
  color: lightgreen;
  background-color: cyan;  
}

.versionItemsBlock1Container3{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 5fr 3fr;
  grid-auto-flow: row;  
  grid-gap: 10px;  
}

.versionSentencesPlace0{
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
  text-align: center;
  color: cyan;
  background-color: lightgreen;
}

.versionSentencesPlace1{
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  text-align: center;
  color: darkblue;
  background-color: yellow;
}

.versionButtonPlace{
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  align-self: center;
  color: lightgreen;
  background-color: darkgreen;
}

.versionItemText{
  margin: auto;  
  text-align: center;
  color: lightgreen;
  background-color: red;
}

.versionButtonGridContainer{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-auto-flow: column;
  margin: auto;
  grid-gap: 5px;  
  color: lightgreen;
  background-color: darkgreen;
}

.selectVersionButton{  
  color: lightgreen;
  background-color: darkgreen;
}

.editVersionButton{
  color: darkgreen;
  background-color: lightgreen;
}

.deleteVersionButton{  
  color: red;
  background-color: darkred;
}



