
/* .selectedBooksPlace{} */

.selectedBooksPlaceItem1 {
    color: #77D177;
}

.showFilesPlace {
    text-align: left;
    color:  #9EB7CD; /* серо-голубым */ 
    background-color: #616841; /* Оливковый хаки */
}

