.formControl{
  background-color: yellow;
}

.createFormField{
  display: flex;
  flex-direction: row;
  background-color: magenta;
}

.formControl.error input,
.formControl.error textarea
{
  border: 5px solid red;
}

.formControl.error span
{
  color: red;
}
