.header{
  /* grid-column: 1/3;
  grid-row: 1/2; */
  grid-area: h;  
  padding: 10px;
  border: 2px solid #114471;
  background-color: #146252;
  }

  .headerPartsPlace{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "pic pic prl prl prl prl prl prl lgn lgn lgn lgn";
    align-items: center;
  }

  .logoPicture{
    grid-area: pic;
    height: 50px;
    opacity: 0.5; 
    background-color: #146252;    
  }
  
  .preloaderPlace{
    grid-area: prl;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
    font-size: smaller;
    font-weight: bold;
    color: seagreen;
  }
  
  .loginBlock{
    grid-area: lgn;
    font-size: smaller;
    justify-self: end;
    text-align: right;
    color: #9EB7CD;
  }

  .allButtonsBodies{
    color: #9EB7CD; /* серо-голубым */ 
    background-color: #146252; /* изумрудным */
}
