.header{
    grid-area: h;
    height: 40px;
    margin-top: 10 px;
    background-color: goldenrod;
  }

  .header img{
    margin: auto;
    margin-left: 10px;
    margin-top: 10 px;
    height: 30px;
    width: auto;
  }

  .logoPicture{
    background-color: silver;    
  }

  .twoColumnsTop{    
    float: right;
  }
/* 
  .loginBlock{
    float: right;
    color: yellow;    
    margin: 50px;
    margin-right: 5px;
  }

  .loginBlock a{
    color: yellow;
    background-color: silver;
  } */
