.nav {
    grid-column: 1/2;
    grid-row: 2/3;    
    padding: 10px;
    border: 2px solid #114471;
    background-color: #146252;
}

.item a {
    color: #9EB7CD;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
    background-color: red;
}

.blank {
    color: lightgreen;
}