.nav {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: lightgreen;
    padding: 5px;
}

.item a {
    color: darkred;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
    background-color: red;
}

.blank {
    color: lightgreen;
}