
.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
} 

.pageSelector{
    letter-spacing: 5px;
    word-spacing: 10px;
}

.info{
font-size: smaller;
color: darkblue;
background-color: magenta;

}