/* Цветовая палитра №3611
графитовый серый - #38876f
изумрудный цвет, 
оттенки изумрудного цвета, 
почти-черный - #0e2d21
светло оранжево-коричневый - #f1c79a 
тёмно-зелёный - #646e74
мятный - #77D177 #66B57E #C1F7DD #94E6C0 #51B37A #7CC6AB
оливковый – #666723
Золотисто-оливковый – #8D792C
Оливковый хаки – #616841
Светло-оливковый – #90934D
Темно-оливковый - #544B32
Серо-оливковый – #605E40
темно-изумрудный цвет, 
темно-серый цвет - #1c1f20
цвет зеленого бархата, 
цвет светлого дерева */

.allControlPanel {
    display: grid;
    max-width: 100%;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
    color: blue;
    background-color: yellow;
}

.pageName {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: larger;
    text-align: center;
    color: #94E6C0;
    background-color: #666723;
}

.dbInfoButton {
    grid-column: 2/3;
    grid-row: 1/2;
    color: #77D177;
    background-color: #616841;
}

.dbCountHeader {
    grid-column: 2/3;
    grid-row: 2/3;
    color: darkred;
    background-color: lightblue;
}

.selectFiles {
    grid-column: 1/2;
    grid-row: 2/3;
    color: pink;
    background-color: #8D792C;
}

.selectFilesButtonPlace {    
    color: #C1F7DD;
    background-color: #f1c79a;
}

.selectFilesButton {    
    color: #C1F7DD;
    background-color: #f1c79a;
}

.selectedBooksProperties {
    grid-column: 1/3;
    grid-row: 2/3;
    color: black;
    background-color: olive;
}


.selectedBooksPlaceItem1 {
    color: black;
}

.showFilesPlace {
    text-align: left;
    color: blue;
    background-color: olive;
}

.chosenLanguagePlace{    
    display: flex;  
    flex-direction: row;
    align-content: stretch;
}

.chosenLanguageText{
    color: darkblue;
    align-self: flex-start;
}

.chosenLanguage{
    color: yellow;
    font-weight: bold;
    margin-left: 1rem;
    
}

.selectedBooksContainer {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "h h h h h h" "r r r r r r" "f f f f f f";
}

.selectedBooksHeader {
    grid-area: h;
    background-color: magenta;
}

.selectedFilesTableRow1 {
    grid-area: r;
    background-color: cyan;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - (1 - 1/3)*1vh);
}

.selectedFilesTableRow2 {
    grid-area: f;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - (1 - 1/3)*1vh);
}

.uploadFiles {
    grid-column: 1/2;
    grid-row: 3/4;
    color: lightcyan;
    background-color: darkred;
}
