.app-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) auto;
    grid-template-columns: minmax(min-content, max-content) auto;
    grid-auto-flow: row;    
    background-color: #146252;
}

.app-wrapper-content {
    grid-column: 2/3;
    grid-row: 2/3;
    color: lightgreen;
    background-color: #146252;
}

/* Золотисто-оливковый - #8D792C - цвет сочетается с
чайной розой - #F0C5C3
бледно-лиловым - #DAB1D1
кардиналом - #960023
мангом - #FB9A3B
тыквенным - #E1541F
абрикосовым - #FFD998
ярким золотом - #texture
шартрезом - #D3D70E
изумрудным - #146252
берлинской лазурью - #114471
серо-голубым - #9EB7CD
ежевичным - #682F5A
баклажановым - #3A172D
махаоном - #552614
латте - #CFBEAA
черным - #242426 */